In [118]:
import pandas as pd
import requests
from config import api_key
import json

In [119]:
rep_candidate=pd.read_csv("rep_candidate.csv")
new_gop_finance=pd.read_csv("new_gop_finance.csv")

In [120]:
rep_candidate=rep_candidate.rename(columns={
    "state":"candidate_state"
})
rep_finance=new_gop_finance.rename(columns={
    "state":"donor_state"
})

new_gop_finance

      Unnamed: 0 candidate_id state  donation_count  total_raised  cycle
0              0    S8AZ00247    MD              23      10300.00   2018
1              1    S8AZ00247    ME               2        200.00   2018
2              2    S8AZ00247    MI              80      12637.00   2018
3              3    S8AZ00247    MN              39       4000.00   2018
4              4    S8AZ00247    MO              30       6902.00   2018
...          ...          ...   ...             ...           ...    ...
1567         251    S8WV00143    WA              53      40806.00   2018
1568         252    S8WV00143    WI              64      17440.00   2018
1569         253    S8WV00143    WV             763     591139.38   2018
1570         254    S8WV00143    WY              16      16151.00   2018
1571         255    S8WV00143    ZZ               1       2700.00   2018

[1572 rows x 6 columns]

In [121]:
rep_data=pd.DataFrame.merge(rep_candidate, rep_finance, on="candidate_id")

In [122]:
rep_data=rep_data.rename(columns={
    "state":"donor_state"
})
rep_data

,Unnamed: 0_x,name,candidate_id,candidate_state,party,incumbent_challenge_full,office_full,cycles,election_years,party.1,candidate_status,Unnamed: 0_y,donor_state,donation_count,total_raised,cycle
0,5,"ARPAIO, JOE",S8AZ00247,AZ,REP,Open seat,Senate,"[2018, 2020]",[2018],REP,P,0,MD,23,10300.00,2018
1,5,"ARPAIO, JOE",S8AZ00247,AZ,REP,Open seat,Senate,"[2018, 2020]",[2018],REP,P,1,ME,2,200.00,2018
2,5,"ARPAIO, JOE",S8AZ00247,AZ,REP,Open seat,Senate,"[2018, 2020]",[2018],REP,P,2,MI,80,12637.00,2018
3,5,"ARPAIO, JOE",S8AZ00247,AZ,REP,Open seat,Senate,"[2018, 2020]",[2018],REP,P,3,MN,39,4000.00,2018
4,5,"ARPAIO, JOE",S8AZ00247,AZ,REP,Open seat,Senate,"[2018, 2020]",[2018],REP,P,4,MO,30,6902.00,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1567,15,"MORRISEY, PATRICK MR",S8WV00143,WV,REP,Challenger,Senate,"[2018, 2020]",[2018],REP,P,251,WA,53,40806.00,2018
1568,15,"MORRISEY, PATRICK MR",S8WV00143,WV,REP,Challenger,Senate,"[2018, 2020]",[2018],REP,P,252,WI,64,17440.00,2018
1569,15,"MORRISEY, PATRICK MR",S8WV00143,WV,REP,Challenger,Senate,"[2018, 2020]",[2018],REP,P,253,WV,763,591139.38,2018
1570,15,"MORRISEY, PATRICK MR",S8WV00143,WV,REP,Challenger,Senate,"[2018, 2020]",[2018],REP,P,254,WY,16,16151.00,2018
1571,15,"MORRISEY, PATRICK MR",S8WV00143,WV,REP,Challenger,Senate,"[2018, 2020]",[2018],REP,P,255,ZZ,1,2700.00,2018

In [127]:
# create data frame with totals fundraised by every candidate in every state they fundraised

rep_data=rep_data.filter(["name","candidate_id","candidate_state","party","incumbent_challenge_full","office_full","cycles","election_years",
                        "candidate_status","donor_state","donation_count","total_raised"])
rep_data.head()

,name,candidate_id,candidate_state,party,incumbent_challenge_full,office_full,cycles,election_years,candidate_status,donor_state,donation_count,total_raised
0,"ARPAIO, JOE",S8AZ00247,AZ,REP,Open seat,Senate,"[2018, 2020]",[2018],P,MD,23,10300.0
1,"ARPAIO, JOE",S8AZ00247,AZ,REP,Open seat,Senate,"[2018, 2020]",[2018],P,ME,2,200.0
2,"ARPAIO, JOE",S8AZ00247,AZ,REP,Open seat,Senate,"[2018, 2020]",[2018],P,MI,80,12637.0
3,"ARPAIO, JOE",S8AZ00247,AZ,REP,Open seat,Senate,"[2018, 2020]",[2018],P,MN,39,4000.0
4,"ARPAIO, JOE",S8AZ00247,AZ,REP,Open seat,Senate,"[2018, 2020]",[2018],P,MO,30,6902.0

In [128]:
# if candidate_state = donor_state, in_state=True, if not, then False

in_state=(rep_data.candidate_state==rep_data.donor_state)
in_state=in_state.to_frame()
in_state=in_state.rename(columns={
    0: "in_state"
})
in_state

      in_state
0        False
1        False
2        False
3        False
4        False
...        ...
1567     False
1568     False
1569      True
1570     False
1571     False

[1572 rows x 1 columns]

In [129]:
new_rep_data=pd.DataFrame.merge(rep_data,in_state, left_index=True, right_index=True)

new_rep_data.set_index("candidate_id")
new_rep_data

,name,candidate_id,candidate_state,party,incumbent_challenge_full,office_full,cycles,election_years,candidate_status,donor_state,donation_count,total_raised,in_state
0,"ARPAIO, JOE",S8AZ00247,AZ,REP,Open seat,Senate,"[2018, 2020]",[2018],P,MD,23,10300.00,False
1,"ARPAIO, JOE",S8AZ00247,AZ,REP,Open seat,Senate,"[2018, 2020]",[2018],P,ME,2,200.00,False
2,"ARPAIO, JOE",S8AZ00247,AZ,REP,Open seat,Senate,"[2018, 2020]",[2018],P,MI,80,12637.00,False
3,"ARPAIO, JOE",S8AZ00247,AZ,REP,Open seat,Senate,"[2018, 2020]",[2018],P,MN,39,4000.00,False
4,"ARPAIO, JOE",S8AZ00247,AZ,REP,Open seat,Senate,"[2018, 2020]",[2018],P,MO,30,6902.00,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1567,"MORRISEY, PATRICK MR",S8WV00143,WV,REP,Challenger,Senate,"[2018, 2020]",[2018],P,WA,53,40806.00,False
1568,"MORRISEY, PATRICK MR",S8WV00143,WV,REP,Challenger,Senate,"[2018, 2020]",[2018],P,WI,64,17440.00,False
1569,"MORRISEY, PATRICK MR",S8WV00143,WV,REP,Challenger,Senate,"[2018, 2020]",[2018],P,WV,763,591139.38,True
1570,"MORRISEY, PATRICK MR",S8WV00143,WV,REP,Challenger,Senate,"[2018, 2020]",[2018],P,WY,16,16151.00,False
1571,"MORRISEY, PATRICK MR",S8WV00143,WV,REP,Challenger,Senate,"[2018, 2020]",[2018],P,ZZ,1,2700.00,False

In [130]:
new_rep_data["candidate_id"].nunique()
rep_aggregate=new_rep_data.groupby(["candidate_id", "in_state"]).agg({"donation_count":["sum"], "total_raised":["sum"]})
rep_aggregate


rep_aggregate.columns = rep_aggregate.columns.droplevel(1)

rep_aggregate=rep_aggregate.reset_index()

in_state=rep_aggregate.loc[rep_aggregate["in_state"]==True]
in_state
out_of_state=rep_aggregate.loc[rep_aggregate["in_state"]==False]
out_of_state

state_agg=pd.DataFrame.merge(in_state, out_of_state, on="candidate_id", suffixes=("_in_state","_out_of_state"), how="outer")
state_agg.to_csv("rep_finance_data.csv")
state_agg

,candidate_id,in_state_in_state,donation_count_in_state,total_raised_in_state,in_state_out_of_state,donation_count_out_of_state,total_raised_out_of_state
0,S2NE00094,True,3790.0,1375824.38,False,1213,1128290.93
1,S2NV00183,True,10222.0,5761578.52,False,5519,4289733.00
2,S2TX00312,True,72597.0,14136424.82,False,67186,8199716.10
3,S2VA00167,True,464.0,300914.00,False,260,279114.00
4,S4MS00120,True,848.0,318156.44,False,616,166061.86
5,S6TN00216,True,1854.0,2046661.66,False,268,425545.00
6,S6UT00063,True,108.0,135850.00,False,1268,2403680.50
7,S6WY00068,True,438.0,253905.00,False,1599,2294143.32
8,S8MA00276,True,13190.0,2890154.50,False,2688,734937.75
9,S8MI00372,True,15780.0,8234167.54,False,5863,2066849.54
10,S8MN00586,True,7840.0,5338428.98,False,1354,779523.99
11,S8MO00137,True,514.0,274709.30,False,322,210182.75
12,S8MO00160,True,9670.0,7494969.32,False,5420,3680999.24
13,S8MS00261,True,2862.0,2689501.66,False,1569,1031198.07
14,S8ND00120,True,3668.0,2503598.10,False,2176,2568077.27
15,S8NJ00509,True,2704.0,2964564.82,False,1055,1708305.06
16,S8PA00320,True,8833.0,2958393.52,False,2667,885209.28
17,S8TN00337,True,9514.0,5445929.03,False,10430,4430111.11
18,S8UT00242,True,250.0,256180.00,False,92,53498.00
19,S8VA00313,True,418.0,219495.30,False,324,141959.00
20,S8WA00319,True,3748.0,2388451.74,False,70,106000.00
21,S8WV00127,True,1458.0,1199900.92,False,246,465100.00
22,S8WV00143,True,763.0,591139.38,False,3487,3020414.71
23,S2AZ00141,NaN,NaN,NaN,False,987,1635738.78
24,S8AL00340,NaN,NaN,NaN,False,6505,1356952.08
25,S8AZ00221,NaN,NaN,NaN,False,29201,7816083.71
26,S8AZ00247,NaN,NaN,NaN,False,1310,295929.00
27,S8CA00606,NaN,NaN,NaN,False,164,15944.66
28,S8IN00163,NaN,NaN,NaN,False,310,381350.00
29,S8IN00171,NaN,NaN,NaN,False,2833,2753327.01
30,S8MA00268,NaN,NaN,NaN,False,98,62202.00
31,S8MA00318,NaN,NaN,NaN,False,534,415955.00
32,S8MA00326,NaN,NaN,NaN,False,470,208395.36
33,S8MD00328,NaN,NaN,NaN,False,44,59800.00
34,S8ME00130,NaN,NaN,NaN,False,670,490632.44
35,S8MT00218,NaN,NaN,NaN,False,98,132100.00
36,S8MT00275,NaN,NaN,NaN,False,148,285526.00
37,S8NY00215,NaN,NaN,NaN,False,88,100395.24